@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.hide-scrollbar {
  /* Internet Explorer and Microsoft Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
