#menu {
  display: flex;
  align-items: center;
  height: auto;
  background: #a79da5;
}

.menu-element {
  padding: 15px 4px 15px 10px; 
}

.menu-element:hover {
  background-color: #beb3bc;
  padding-top: 11px;
  height: max-content;
  transition: all .4s;
}

#about-page {
  display: flex;
}

#profile {
  padding-top: 0;
  width: 300px;
  height: inherit;
  background: #E0DDCF;
  display: inline-flex;
  align-items: stretch;
  flex-direction: column;
  border-right: solid;
  border-right-color: white;
}

#profile img {
  padding-top: 15px;
  border-radius: 150px;
  display: flex;
  align-self: center;
}

#name {
  align-items: center;
  display: flex;
  align-self: center;
  img {
    display: flex;
    align-self: baseline;
    vertical-align: bottom;
  }
  img:hover {
    cursor: pointer;
  }
}

#name p {
  margin-right: 10px; 
}

#about-section {
  background: #E0DDCF;
  display: inline-flex;
  flex: 1;
  width: calc(100% - 300px);
  height: calc(100vh - 30px - 30px);
  max-height: calc(100vh - 30px - 30px);
  align-items: stretch;
  vertical-align: top;
  flex-direction: column;
}

#about-selection {
  padding: 15px;
  padding-bottom: 2px;
  align-self: center;
  a {
    padding-right: 10px;
    color: black;
  }
}

#about-text {
  padding: 15px;
  padding-top: 0;
  max-height: inherit;
  overflow: hidden;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: auto;
  background-color: #a79da5;
  vertical-align: bottom;
  align-items: stretch;
  overflow: hidden;
  p {
    vertical-align: top;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}