li {
  list-style: none;
  padding-bottom: 7px;
}

ul {
  padding-left: 10px;
}

.project {
  a {
    color: black;
  }
}

#projects-page {
  display: flex;
}

#projects-list {
  display: inline-flex;
  background-color: #E0DDCF;
  align-items: stretch;
  flex-direction: column;
  width: 200px;
  height: calc(100vh - 30px - 30px);
  border-right-color: white;
  border-right-style: solid;
}

#about-project {
  display: inline-flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: #E0DDCF;
  flex: 1;
}

.tag {
  align-self: center;
  display: inline-flex;
  margin-right: 5px;
  margin-top: 5px;
  padding: 6px;
  padding-right: 8px;
  background-color: #a79da5;
  border-radius: 15px;
  align-content: center;
  vertical-align: middle;
}

.tag:hover {
  background-color: #c0b4be;
  cursor: default;
}

#description {
  padding-top: 15px;
}